html {
    padding: 50px;
}

/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&display=swap');

/* Global Styles */
:root {
  --bg-color: #0d1b2a;
  --accent-color: #1b263b;
  --highlight-color: #415a77;
  --text-color: #e0e1dd;
  --button-bg: #778da9;
  --button-hover-bg: #1b263b;
  --button-text-color: #fefefe;
  --black: #000;
}

body, .container {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
  min-height: 100vh;
}

/* Podium Styles */
.podium {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: 30px;
}

.podiumPosition {
  text-align: center;
  margin-top: 10px;
  position: relative;
}

.podium-1 {
  order: 2;
  background-color: var(--highlight-color);
  width: 120px;
  height: 200px;
  border-radius: 10px 10px 0 0;
}

.podium-2 {
  order: 1;
  background-color: var(--accent-color);
  width: 100px;
  height: 150px;
  border-radius: 10px 10px 0 0;
}

.podium-3 {
  order: 3;
  background-color: var(--accent-color);
  width: 100px;
  height: 150px;
  border-radius: 10px 10px 0 0;
}

.podiumImage {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-bottom: 10px;
  border: 3px solid var(--button-bg);
  position: absolute;
  top: -40px;
  left: 50%;
  transform: translateX(-50%);
}

.playerName {
  font-size: 1.2rem;
  margin-top: 50px;
  color: var(--button-text-color);
}

.playerPoints {
  font-size: 1rem;
  color: var(--button-text-color);
}

/* Leaderboard List */
.otherPlayers {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  padding: 1rem;
}

.playerEntry {
  background-color: var(--accent-color);
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.playerImage {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .podium {
    flex-direction: column;
    align-items: center;
  }

  .otherPlayers {
    grid-template-columns: 1fr;
  }
}