html {
    padding: 10px;
    background: linear-gradient(to bottom right, #a324c9, #3d0b98);
}

/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&display=swap');

/* Global Styles */
:root {
    --bg-color: linear-gradient(to bottom right, #a324c9, #3d0b98);
    --accent-color: #5a1dbb;
  --highlight-color: #ffc400;
  --text-color: #e0e1dd;
  --button-bg: #778da9;
  --button-hover-bg: #1b263b;
  --button-text-color: #fefefe;
  --black: #000;
}

body {
max-width: 1000px;
  margin: 0;
  margin: auto;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background: transparent;
  color: var(--text-color);
  min-height: 100vh;
}

main {
    margin-top: 50px;
}
/* Leaderboard Styles */
/* Leaderboard Styles */
.podium {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 30px;
    position: relative;
  }
  
.podiumPosition {
    text-align: center;
    margin-top: 10px;
    position: relative;
    margin-left: 10px;
    margin-right: 10px;
    color: #ffc400; /* Updated to match the text color in the image */
}

/* Larger center podium with background image */
.podium-1 {
    order: 2;
    background: linear-gradient(to bottom right, #fece3d, #ff9900);
    width: 160px; /* Adjusted width */
    height: 170px; /* Adjusted height */
    border-radius: 10px 10px 0 0;
    color: #a324c9;
    position: relative;
    z-index: 1;
    box-shadow: 0 0 20px rgba(0,0,0,0.2); /* Adjusted shadow to match the image */
    padding-top: 45px;
}
  
.podium-1 .podiumImage {
    border: 3px solid white;
}

.podium-2 {
    order: 1;
}

.podium-3 {
    order: 3;
}
  
/* Smaller side podiums */
.podium-2 {
  background: linear-gradient(135deg, rgba(254,254,254,1) 0%, rgba(219,219,219,1) 100%);
  width: 120px; /* Adjusted width */
  height: 120px; /* Adjusted height */
  border-radius: 10px 10px 0 0;
  position: relative;
  z-index: 0;
  box-shadow: 0 0 15px rgba(0,0,0,0.2); /* Adjusted shadow to match the image */
  padding-top: 45px;
}

.podium-3 {
  background: linear-gradient(135deg, rgba(243,226,199,1) 0%, rgba(182,141,76,1) 88%, rgba(182,141,76,1) 89%);
    width: 120px; /* Adjusted width */
    height: 100px; /* Adjusted height */
    border-radius: 10px 10px 0 0;
    position: relative;
    z-index: 0;
    box-shadow: 0 0 15px rgba(0,0,0,0.2); /* Adjusted shadow to match the image */
    padding-top: 45px;
}
  
.podiumImage {
    width: 70px; /* Adjusted size */
    height: 70px; /* Adjusted size */
    border-radius: 50%;
    margin-bottom: 10px;
    border: 3px solid #ffffff; /* Adjusted border color */
    position: absolute;
    top: -35px; /* Adjusted position */
    left: 50%;
    transform: translateX(-50%);
    object-fit: cover;
}
  
.podiumPosition .playerName {
  padding-top: 10px;
    font-size: 1.1rem; /* Adjusted font size */
    color: #5a1dbb; /* Updated to match the image */
}
  
.podiumPosition .playerPoints {
    margin-top: 5px;
    color: #a324c9; /* Updated to match the image */
    font-weight: 800;
    font-size: 32px;
}
  
  /* Leaderboard List */
  .otherPlayers {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    padding: 0.5rem;
  }
  
  .playerEntry {
    background-color: var(--accent-color);
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .playerImage {
    width: 60px;
    height: 60px;
    border-radius: 50%;
  }
  
  @media (max-width: 768px) {
  
    .otherPlayers {
      grid-template-columns: 1fr;
    }
  
    .podium-1 {
      width: 160px;
      height: 220px;
    }
  
    .podium-2, .podium-3 {
      width: 100px;
      height: 130px;
    }
  }

/* Navbar Styles */
.navbar {
    display: flex;
    justify-content: space-between;
    max-width: 550px;
    margin: auto;
    align-items: center;
    background-color: #5a1dbb;
    box-shadow: inset 0px 0px 10px 0px rgba(34,0,84,1);
    border-radius: 1000px;
    font-family: 'Raleway', sans-serif;
  }
  
  .navbar > * {
    color: var(--button-text-color);
    text-decoration: none;
    padding: 0.75rem 1.5rem;
    border-radius: 1000px;
    font-weight: 600;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .navbar > *:hover {
    color: #5a1dbb;
    background-color: #ffc400;
    transform: translateY(-3px);
  }
  
  .navbar > *:active {
    color: #5a1dbb;
    background-color: #fece3d;
    transform: translateY(0);
  }
  
  .navbar > * + * {
    margin-left: 1rem;
  }
  
  .navbar > *:focus {
    outline: none;
  }
  
  /* Add active link styling */
  .navbar a.active {
    color: #5a1dbb;
    background-color: #fece3d;
    transform: translateY(0);
  }
  
  /* Responsive adjustments */
  @media (max-width: 768px) {
  
    .navbar > * + * {
      margin-left: 0;
      margin-top: 0.75rem;
    }
  }

  .managePlayersContainer {
    background-color: var(--accent-color);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 2rem auto;
  }
  
  .newPlayerForm {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    margin-bottom: 1.5rem;
  }
  
  .input {
    padding: 0.75rem;
    border-radius: 5px;
    border: 1px solid #ffc400;
    background-color: var(--bg-color);
    color: #ffc400;
    font-size: 1rem;
  }
  
  .input::placeholder {
    color: #000;
  }
  
  .button {
    background-color: var(--button-bg);
    color: var(--button-text-color);
    border: none;
    padding: 0.75rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    font-size: 1rem;
    font-weight: 600;
  }
  
  .button:hover {
    background-color: var(--button-hover-bg);
    transform: translateY(-2px);
  }
  
  .removeButton {
    background-color: var(--highlight-color);
  }
  
  .playersList {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
  }
  
  .playerEntry {
    background-color: var(--accent-color);
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--text-color);
  }
  
  .playerInfo {
    display: flex;
    align-items: center;
  }
  
  .playerImage {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    border: 2px solid var(--button-bg);
    object-fit: cover;
  }
  
  .playerName {
    flex-grow: 1;
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--text-color);
  }
  
  .playerPoints {
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--text-color);
  }
  
  @media (max-width: 768px) {
    .newPlayerForm {
      grid-template-columns: 1fr;
    }
  
    .playersList {
      grid-template-columns: 1fr;
    }
  
    .button {
      width: 100%;
      margin-top: 0.5rem;
    }
  }

  .gamesContainer {
    padding: 20px;
  }
  
  .header {
    color: var(--highlight-color);
    text-align: center;
    margin-bottom: 1rem;
  }
  
  .gamesList {
    max-width: 800px;
    margin: 0 auto 2rem auto;
    padding: 20px;
    background-color: var(--accent-color);
    box-shadow: inset 0px 0px 10px 0px rgba(34,0,84,1);
    border-radius: 10px;
  }
  
  .gameEntry {
    background-color: var(--accent-color);
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 1rem;
  }
  
  .gamePlayers {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    text-align: center;
    display: flex;
    justify-content: center;
  }
  
  .gamePoints {
    font-size: 1rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
  }
  
  .gameButton {
    background-color: var(--button-bg);
    color: var(--button-text-color);
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%;
    margin-top: 0.5rem;
  }
  
  .gameButton:hover {
    background-color: var(--button-hover-bg);
  }
  
  .form {
    position: relative;
    max-width: 1300px;
    margin: 0 auto;
    height: 650px;
    background-color: var(--accent-color);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .playersWrapper {
    position: relative; /* Position relative to contain absolutely positioned children */
    width: 100%;
    height: auto;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.playerSide {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    width: 17.5%;
    z-index: 99;
}

.playerSide.left {
    top: 10%;
    left: 0; /* Aligns to the left side */
    text-align: right; /* Optional: Align text to the right */
}

.playerSide.right {
    top: 60%;
    right: 0; /* Aligns to the right side */
    text-align: left; /* Optional: Align text to the left */
}

.versusImage {
  position: relative;
    width: 100%; /* Adjust this as needed */
    height: 100%;
    display: flex;
    justify-content: center;
}

.versusImg, .versusImg * {
    max-width: 100%;
    width: 100%;
    height: auto;
    border-radius: 5px;
    display: block;
}
  
  .input, .select {
    padding: 0.75rem;
    border-radius: 5px;
    border: 1px solid var(--highlight-color);
    background-color: var(--bg-color);
    color: var(--highlight-color);
    font-size: 1rem;
  }
  
  .input::placeholder, .select {
    color: var(--highlight-color);
  }
  
  .addButton {
    background-color: var(--button-bg);
    color: var(--button-text-color);
    border: none;
    padding: 0.75rem 1rem;
    border-radius: 5px;
    cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  display: block;
  width: 100%;
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
  margin-top: 1rem;
}

.addButton:hover {
  background-color: var(--button-hover-bg);
  transform: translateY(-2px);
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .playersWrapper {
    flex-direction: column;
  }

  .playerSide, .versusImage {
    width: 100%;
    margin-bottom: 1rem;
  }

  .versusImage {
    display: flex;
    justify-content: center;
    margin-bottom: 1.5rem;
  }

  .form {
    padding: 15px;
  }

  .gamesList, .form {
    width: 100%;
  }

  .input, .select, .addButton {
    width: 100%;
  }
}

@media (min-width: 1350px) {
  body {
    max-width: 1300px;
  }
  main {
    margin-top: 150px;
  }
 }